<head>
    <title>Gallery page</title>
</head>
{% extends "base.html" %}
{% load staticfiles %}

{% block content%}
        <div class="row">
            <div class="box">
               <div class="container">
                <ul class="grid effect" id="grid">
                    <li>
                    <a href="http://s3.amazonaws.com/legionsofthought/pics/pic1.jpg" data-lightbox="image-1" data-title="On the way to Tahoe"><img class="img-responsive img-full" src="http://s3.amazonaws.com/legionsofthought/pics/pic1.jpg" alt=""></a>
                    </li>
                    <br>
                    <li>
                        <a href="http://s3.amazonaws.com/legionsofthought/pics/pic2.jpg" data-lightbox="image-1" data-title="Babbling brook close to the Redwoods in NoCal">
                        <img class="img-responsive img-full" src="http://s3.amazonaws.com/legionsofthought/pics/pic2.jpg" alt=""></a>
                    </li>
                    <br>
                    <li>
                        <img class="img-responsive img-full" src="http://s3.amazonaws.com/legionsofthought/pics/pic3.jpg" alt="">
                    </li>
                    <br>
                    <li>
                        <img class="img-responsive img-full" src="http://s3.amazonaws.com/legionsofthought/pics/pic4.jpg" alt="">
                    </li>
                    <br>
                    <li>
                        <img class="img-responsive img-full" src="http://s3.amazonaws.com/legionsofthought/pics/pic5.jpg" alt="">
                    </li>
                    <br>
                    <li>
                        <img class="img-responsive img-full" src="http://s3.amazonaws.com/legionsofthought/pics/pic6.jpg" alt="">
                    </li>
                    <br>
                    <li>
                        <img class="img-responsive img-full" src="http://s3.amazonaws.com/legionsofthought/pics/pic7.jpg" alt="">
                    </li>
                    <br>
                    <li>
                        <img class="img-responsive img-full" src="http://s3.amazonaws.com/legionsofthought/pics/pic8.jpg" alt="">
                    </li>
                    <br>
                    <li>
                        <img class="img-responsive img-full" src="http://s3.amazonaws.com/legionsofthought/pics/pic9.jpg" alt="">
                    </li>
                    <br>
                    <li>
                        <img class="img-responsive img-full" src="http://s3.amazonaws.com/legionsofthought/pics/pic10.jpg" alt="">
                    </li>
                    <li>
                        <img class="img-responsive img-full" src="http://s3.amazonaws.com/legionsofthought/pics/pic11.jpg" alt="">
                    </li>
                    <br>
                    <br>
                    <li>
                        <img class="img-responsive img-full" src="http://s3.amazonaws.com/legionsofthought/pics/pic13.jpg" alt="">
                    </li>
                    <br>
                    <li>
                        <img class="img-responsive img-full" src="http://s3.amazonaws.com/legionsofthought/pics/pic14.jpg" alt="">
                    </li>
                    <br>
                    <li>
                        <img class="img-responsive img-full" src="http://s3.amazonaws.com/legionsofthought/pics/pic15.jpg" alt="">
                    </li>
                    <br>
                    <li>
                        <img class="img-responsive img-full" src="http://s3.amazonaws.com/legionsofthought/pics/pic16.jpg" alt="">
                    </li>
                    <br>
                    <li>
                        <img class="img-responsive img-full" src="http://s3.amazonaws.com/legionsofthought/pics/pic17.jpg" alt="">
                    </li>
                    <br>
                    <li>
                        <img class="img-responsive img-full" src="http://s3.amazonaws.com/legionsofthought/pics/pic18.jpg" alt="">
                    </li>
                    <br>
                    <li>
                        <img class="img-responsive img-full" src="http://s3.amazonaws.com/legionsofthought/pics/pic19.jpg" alt="">
                    </li>
                    <br>
                    <li>
                        <img class="img-responsive img-full" src="http://s3.amazonaws.com/legionsofthought/pics/pic20.jpg" alt="">
                    </li>
                    <li>
                        <img class="img-responsive img-full" src="http://s3.amazonaws.com/legionsofthought/pics/pic21.jpg" alt="">
                    </li>
                    <br>
                    <li>
                        <img class="img-responsive img-full" src="http://s3.amazonaws.com/legionsofthought/pics/pic22.jpg" alt="">
                    </li>
                    <br>
                    <li>
                        <img class="img-responsive img-full" src="http://s3.amazonaws.com/legionsofthought/pics/pic23.jpg" alt="">
                    </li>
                    <br>
                    <li>
                        <img class="img-responsive img-full" src="http://s3.amazonaws.com/legionsofthought/pics/pic24.jpg" alt="">
                    </li>
                    <br>
                    <li>
                        <img class="img-responsive img-full" src="http://s3.amazonaws.com/legionsofthought/pics/pic25.jpg" alt="">
                    </li>
                    <br>
                    <li>
                        <img class="img-responsive img-full" src="http://s3.amazonaws.com/legionsofthought/pics/pic26.jpg" alt="">
                    </li>
                    <br>
                    <li>
                        <img class="img-responsive img-full" src="http://s3.amazonaws.com/legionsofthought/pics/pic27.jpg" alt="">
                    </li>
                    <br>
                    <li>
                        <img class="img-responsive img-full" src="http://s3.amazonaws.com/legionsofthought/pics/pic28.jpg" alt="">
                    </li>
                    <br>
                    <li>
                        <img class="img-responsive img-full" src="http://s3.amazonaws.com/legionsofthought/pics/pic29.jpg" alt="">
                    </li>
                    <br>
                    <li>
                        <img class="img-responsive img-full" src="http://s3.amazonaws.com/legionsofthought/pics/pic30.jpg" alt="">
                    </li>
                    <li>
                        <img class="img-responsive img-full" src="http://s3.amazonaws.com/legionsofthought/pics/pic31.jpg" alt="">
                    </li>
                    <br>
                    <li>
                        <img class="img-responsive img-full" src="http://s3.amazonaws.com/legionsofthought/pics/pic32.jpg" alt="">
                    </li>
                    <br>
                    <li>
                        <img class="img-responsive img-full" src="http://s3.amazonaws.com/legionsofthought/pics/pic33.jpg" alt="">
                    </li>
                    <br>
                    <li>
                        <img class="img-responsive img-full" src="http://s3.amazonaws.com/legionsofthought/pics/pic34.jpg" alt="">
                    </li>
                    <br>
                    <li>
                        <img class="img-responsive img-full" src="http://s3.amazonaws.com/legionsofthought/pics/pic35.jpg" alt="">
                    </li>
                    <br>
                    <li>
                        <img class="img-responsive img-full" src="http://s3.amazonaws.com/legionsofthought/pics/pic36.jpg" alt="">
                    </li>
                    <br>
                    <li>
                        <img class="img-responsive img-full" src="http://s3.amazonaws.com/legionsofthought/pics/pic37.jpg" alt="">
                    </li>
                    <br>
                    <li>
                        <img class="img-responsive img-full" src="http://s3.amazonaws.com/legionsofthought/pics/pic38.jpg" alt="">
                    </li>
                    <br>
                    <li>
                        <img class="img-responsive img-full" src="http://s3.amazonaws.com/legionsofthought/pics/pic39.jpg" alt="">
                    </li>
                    <br>
                    <li>
                        <img class="img-responsive img-full" src="http://s3.amazonaws.com/legionsofthought/pics/pic40.jpg" alt="">
                    </li>                                                            
                </ul>
            </div>
    <script src="{% static "js/modernizr.custom.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/component.css" %}" />

    <script src="{% static "js/masonry.pkgd.min.js" %}"></script>
    <script src="{% static "js/imagesloaded.js" %}"></script>
    <script src="{% static "js/classie.js"%}"></script>
    <script src="{% static "js/AnimOnScroll.js"%}"></script>
    <script src="{% static "js/jquery-1.11.0.min.js"%}"></script>
    <script src="{% static "js/lightbox.min.js"%}"></script>
    <link   href="{% static  "css/lightbox.css"%}" rel="stylesheet" />
    <script>
      new AnimOnScroll( document.getElementById( 'grid' ), {
        minDuration : 0.4,
        maxDuration : 0.6,
        viewportFactor : 0.2
      } );
    </script>

            </div>
        </div>
{% endblock %}
